#editing-dash-page {
  .issue-state-breadcrumb {
    display: flex;
    gap: 4px;

    .bullet {
      color: var(--light-text);
    }

    &.copyediting {
      .state.drafting,
      .state.distributing {
        color: var(--light-text);
      }
    }

    &.drafting {
      .state.distributing {
        color: var(--light-text);
      }
    }
  }
}
