#editing-dash-page {
  .cards-list {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 16px 0;

    max-width: 100%;
    overflow-x: auto;
  }

  .issue-card {
    border: var(--border);
    width: 300px;
    height: 100px;
    padding: 16px;
    transition: var(--transition);
    cursor: pointer;

    &:hover {
      background-color: var(--hovered);
    }
  }

  .issue-state-breadcrumb {
    display: flex;
    gap: 4px;

    .bullet {
      color: var(--light-text);
    }

    &.copyediting {
      .state.drafting,
      .state.distributing {
        color: var(--light-text);
      }
    }

    &.drafting {
      .state.distributing {
        color: var(--light-text);
      }
    }
  }
}
