.side-nav-container {
  min-width: 200px;
  background-color: var(--background-2);
  border-right: var(--border);
  padding: 16px;

  min-height: 100vh;
  height: 100%;

  .logo {
    font-size: 2em;
  }
}
