.side-nav-container {
  min-width: 200px;
  background-color: var(--background-2);
  border-right: var(--border);
  padding: 16px;

  min-height: 100vh;

  display: flex;
  flex-direction: column;

  .logo {
    font-size: 2em;
    margin-bottom: 16px;
  }

  #upper-menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;

    a {
      transition: var(--transition);
      color: var(--text);

      > span {
        transition: var(--transition);
        border-bottom: 1px solid var(--background-2);
      }

      &:hover,
      &:focus-visible {
        > span {
          border-color: black;
        }
      }
    }
  }
}
