.main-button {
  padding: 12px 40px;
  border: 1px solid var(--accent);
  transition: var(--transition);
  color: var(--accent);
  max-width: 200px;

  &:hover {
    background-color: var(--accent);
    color: #fff;
  }
}
