@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --background-2: #fff;

  --border: 1px solid var(--border-color);
  --border-color: #dddddd;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #fff;
    --background-2: #ddd; */
  }
}

body {
  background-color: var(--background);
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
}
