$articleFrameColumnGap: 20px;
$articleHeight: 856px;

.article-frame {
  height: $articleHeight; // must match ARTICLE_INNER_MAX_HEIGHT_PX
  // height: 100% necessary for height measurements; otherwise the article does not go as
  //  far as possible before breaking to another column

  &.full-height {
    height: 100%;
  }

  .article-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 100%;
  }

  .article-header {
    max-width: 50%;
  }
}

.simple-frame {
  display: flex;
  flex-direction: column;

  .article-contents {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    column-gap: $articleFrameColumnGap;
  }

  .article-body {
    height: $articleHeight;
  }
}

.measured-frame {
  .columns {
    display: flex;
    flex-direction: row;
  }
}

.article-contents {
  .metadata-row {
    margin-bottom: 1rem;
  }

  .author {
    font-style: italic;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 1.5rem 0 0.5rem 0;
  }

  * {
    max-width: 300px;
  }

  p {
    margin: 4px 0;
  }

  li,
  ol {
    margin-left: 1rem;
    width: 100%;
  }
}
