.article-frame {
  // height: 100% necessary for height measurements; otherwise the article does not go as
  //  far as possible before breaking to another column

  &.full-height {
    height: 100%;
  }

  .article-body {
    height: 856px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 20px;

    * {
      max-width: 350px;
    }

    p {
      margin: 4px 0;
    }
  }
}
