.article-frame {
  // height: 100% necessary for height measurements; otherwise the article does not go as
  //  far as possible before breaking to another column

  &.full-height {
    height: 100%;
  }

  .metadata-row {
    margin-bottom: 1rem;
  }

  .author {
    font-style: italic;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 1.5rem 0 0.5rem 0;
  }

  .article-body {
    height: 856px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 20px;

    * {
      max-width: 350px;
    }

    p {
      margin: 4px 0;
    }
  }

  li,
  ol {
    margin-left: 1rem;
    width: 100%;
  }
}
