.article-frame {
  // height: 100% necessary for height measurements; otherwise the article does not go as
  //  far as possible before breaking to another column

  &.full-height {
    height: 100%;
  }

  .article-body {
    p {
      margin: 4px 0;
    }
  }
}
