.page-frame {
  $width: 816px;
  $height: 1056px;

  max-width: $width;
  height: $height;

  padding: 48px;
  border: var(--border);

  p {
    margin: 12px 0;
  }

  hr {
    margin: 12px 0;
    border-top: 1px solid var(--border-color);
  }

  .article-header {
    max-width: 300px;

    .metadata-row {
      margin-bottom: 1rem;
    }

    .author {
      font-style: italic;
    }
  }

  .article-title {
    font-size: 2rem;
    margin-bottom: 8px;
  }

  h1 {
    font-size: 1.8rem;
  }
}

.pages-frame {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.article-columns {
  display: flex;
  flex-direction: row;
}

.article-column {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 20px;
}
