.right-content {
  padding: 16px;
  height: 100vh;
  width: 100%;

  padding-top: 80px;

  .title-row {
    justify-content: space-between;
  }

  #articles-table-container {
    width: 100%;
  }

  #articles-table {
    border-radius: 4px;
    width: 100%;

    th,
    td {
      border: var(--border);
      padding: 4px;
    }

    th {
      font-weight: 400;
      text-align: left;
      font-size: 11px;
    }
  }
}
