.control-group {
  .button-group {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
  }

  button {
    border: var(--border);
    padding: 4px;
    transition: 0.1s linear;

    &.is-active {
      background-color: var(--active);
    }
  }
}
