.control-group {
  .button-group {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
  }

  button {
    border: var(--border);
    padding: 4px;
    transition: 0.1s linear;

    &.is-active {
      background-color: var(--active);
    }
  }

  .colour-container {
    position: relative;
    z-index: 2;

    .colour-picker-container {
      position: absolute;
    }

    .react-colorful {
      .react-colorful__pointer {
        cursor: pointer;
      }
    }
  }
}
